version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: portfolio_postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: portfolio_backend
    restart: unless-stopped
    env_file:
      - .env
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      FINNHUB_API_KEY: ${FINNHUB_API_KEY}
      MARKETAUX_API_KEY: ${MARKETAUX_API_KEY}
    depends_on:
      - postgres
    ports:
      - "8080:8080"


volumes:
  postgres_data:
