# backend/src/main/resources/application-prod.yml

spring:
  profiles: prod
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate.format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    hikari:
      jdbc-url: jdbc:postgresql://localhost:5432/portfolio_prod
      username: produser
      password: prodpass
      driver-class-name: org.postgresql.Driver


# Server configuration
server:
  port: 8443
  ssl:
    enabled: true
    key-store: classpath:keystore.p12
    key-store-password: your-keystore-password
    key-store-type: PKCS12
    key-alias: tomcat

# JWT
app:
  jwt:
    secret: ${JWT_SECRET}
    expiration: 3600000  # 1 hour

# Logging
logging:
  level:
    root: WARN
    org.springframework: WARN
